.hero-article__mob {
    width: 100%;
    padding-right: 3rem;
    margin-inline: auto;
    line-height: 2.5rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.hero-image{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.hero-image img{
    max-width: 100%;
    height: auto;
    width: 50%;
    border-radius: 7px;
}

.hero-article__mob p {
    margin-block-end: 2rem;
}

.hero-article__mob2 * {
    margin-block: 1rem;
}

.hero-article__mob2 {
    text-align: start;
    grid-column: span 2;
    line-height: 2.5rem;
}


.resume{
    margin-block: 6rem;
}


.resume-button, .read-more {
    border: 1px solid #6dabdc;
    border-bottom: 5px solid #c7c4c4;
    text-transform: capitalize;
    font-size: 12px;
    color: #9bc8bb;
    padding-inline: 7px;
    padding-block: 12px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #FFF;
    transition: all ease-in-out .3s;
  
}

.resume-button:hover {
    scale: 1.1;
    cursor: pointer;
}
