@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    line-height: 1.5;
    padding-inline: min(4rem, 4vw);
    padding-block-start: 2rem;
}

h4 {
    text-transform: capitalize;
    font-size: clamp(1.3rem, 0.6vw, 16px);
    color: #4d5980;
}



.navbar {
    display: flex;
}

nav>.nav {
    margin-right: auto;
}

.nav-item:link {
    color: #000 !important;
}

.nav-item:visited {
    color:  #9c3131 !important;
    text-decoration: underline;
}

.navbar-nav {
    display: flex;
    gap: clamp(2vw, 2rem, 15px);
    font-size: clamp(1rem, .8vw, 14px);
    cursor: pointer;
    text-transform: capitalize;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: clamp(2rem, 2.3vw, 24px);
    letter-spacing: clamp(.1rem, 1.2vw, 41px);
    margin-block: 6rem;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.hero-article__desk p {
    width: 58%;
    font-size: clamp(23px, 3.2vw, 3.5rem);
    margin-block-start: 0;
    margin-top: 0 !important;
    margin-inline: auto;
    text-align: left;
    font-weight: 300;
    margin-block: 2rem;
}


.skills h4 {
    margin-block: 2rem;
}

section:has([class="basic-skills"]) {
    margin-block: 5rem;
}

section:has([class="basic-skills"]) h4 {
    width: 50%;
}

.basic-skills {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.skill-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: solid 0px gray;
    border-radius: 11px;
    padding: 1rem;
    box-shadow: -5px 13px 23px -3px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: -5px 13px 23px -3px rgb(117 108 105 / 28%);
    -moz-box-shadow: -5px 13px 23px -3px rgba(0, 0, 0, 0.48);
}

.projects * {
    margin-block: 1rem;
}

.projects a {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-images img {
    max-width: 100%;
    width: 51%;
    height: 62%;
    transition: all ease-in-out .2s;
    border-radius: 2%;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

a label,
a {
    text-transform: capitalize;
    font-size: clamp(1.3rem, 0.6vw, 16px);
    color: #4d5980;
}

.project-images img:hover {
    scale: 1.1;
    box-shadow: -5px 13px 23px -3px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: -5px 13px 23px -3px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -5px 13px 23px -3px rgba(0, 0, 0, 0.48);
}


.about-me {
    margin-block: 1rem;
}

.about-me * {
    margin-block: 1rem;
}

.about-me button {
    padding-inline: 20px;
    padding-block: 12px;
    border-radius: 15px;
    font-weight: 600;
    background-color: #FFF;
    transition: all ease-in-out .3s;
}

.about-me button:hover {
    scale: 1.1;
    cursor: pointer;
}

.socials {
    display: flex;
    gap: .6rem;
}

.social-icons {
    width: 2rem;
}

.contact {
    padding-block: 6rem;
    padding-inline: 2rem;
    border-radius: 3rem 3rem 0rem 0rem;
    background: linear-gradient(180deg, rgba(7, 118, 85, 0.4) 47.1%, rgba(37, 70, 120, 0.4) 100%);
}

.contact h3 {
    font-weight: 500;
    font-size: clamp(2vw, 2rem, 16px);
}