@media screen and (max-width: 480px) {
    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .basic-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-article__desk p{
        width: 95%;
    }

    .about-me {
        margin-block: 3rem;
    }

    .contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}